body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(174, 229, 224);
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
  height: 50%;
  padding-top: 0.3rem;
  padding: 1.8rem;
  display: block;
  flex-direction: row;
  width: 70%;
  margin-left: 11.7rem;
  border-radius: 0.2rem;
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

form {
  margin: 20px auto;
  width: 80%;
  border: 1px solid #ccc;
  padding: 20px;
  border: none;
  background: rgb(198, 232, 229);
}

label {
  display: block;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  background: rgb(152, 206, 202);
}

input[type="text"],
textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="button"] {
  background-color: rgb(89, 196, 187);
  font-size: 17.5px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: rgb(26, 184, 171);
}

h2{
  text-align: center;
}

.show-blogs{
  text-align: center;
  justify-content: center;
  align-items: center;
}